.columns-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* border: 1px solid; */
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-around;
}
.column {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}
.column.information {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}
.info-values {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.contact {
    margin-bottom: 256px;
}

.contact .info-label {
    color: rgba(246, 246, 246, .7);
    font-size: 1.1rem;
    margin-bottom: 8px;
}
.contact .info-value {
    color: var(--light-gray);
    font-size: 1.1rem;
}
.contact .info-icon {
    width: 32px;
    vertical-align: bottom;
    margin-right: 8px;
}
.contact .info-value.email {
    /* word-break: break-all; */
}

.flex-wrapper {
    display: flex;
    align-items: center;
}
.contact .form {
    flex-basis: 720px;
} 
.contact form {
    width: 100%;
}
.contact textarea {
    background-color: var(--light-gray);
    border: none;
    color: var(--black);
    outline: none;
    padding: 16px;
    border-radius: 8px;
    height: 280px;
    margin-bottom: 16px;
    max-width: 720px;
}

.contact .form button img {
    margin-right: 8px;
    vertical-align: text-top;
}
.contact .form label {
    display: block;
}