
.accent {
    border-radius: 50rem;
    color: var(--black);
    border: none;
    padding: 8px 18px;
    background-color: var(--yellow);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    font-size: 1.2rem;
}
.accent:focus {
    background-color: var(--yellow);
}

.secondary {
    border-radius: 50rem;
    color: var(--light-gray);
    border: 1px solid var(--light-gray);
    padding: 8px 18px;
    background-color: transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    text-transform: uppercase;
    font-size: 1.2rem;
}
.secondary:focus {
    background-color: transparent;
}

.tertiary-btn {
    border-radius: 50rem;
    color: var(--light-gray);
    border: none;
    padding: 8px;
    background-color: rgba(21, 63, 179, .3) !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
    font-size: 1.1rem;
}