@import url(variables.css);
@import url(components/button.css);

@import url(sections/header.css);
@import url(sections/above-the-fold.css);
@import url(sections/services.css);
@import url(sections/projects.css);
@import url(sections/testimonials.css);
@import url(sections/contact.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    background-image: linear-gradient(to bottom right, var(--bg-color-1), var(--bg-color-2), var(--bg-color-3));
    background-repeat: no-repeat;
}

main {
    display: block;
    width: 90%;
    margin: 64px auto;
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
}

.title {
    font-family: 'Langdon', Arial, Helvetica, sans-serif;
}

.above-the-fold ~ * > .title {
    color: var(--light-gray);
    font-size: 2rem;
    text-align: center;
    margin: 0 0 40px;
}

.back-to-top {
    position: fixed;
    right: 5%;
    bottom: 5%;
    opacity: 0;
    transition: opacity .4s ease-in;
}
.show {
    opacity: 1;
}

@media only screen and (min-width: 53.75rem) {
    main {
        font-size: .9rem;
    }
}