:root {
    --bg-color-1: #153FB3;
    --bg-color-2: #386DFF;
    --bg-color-3: #278DE8;

    --yellow: #FFC738;

    --dark-gray: #707070;
    --darker-gray: #404040;
    --light-gray: #F6F6F6;

    --black: #161616;
}